@page "/dndCharacters"
@inject HttpClient Http

<style>
    .phase {
        margin-top: 20px;
        text-align: center;
    }

    .column {
        width: auto;
        float: left;
        margin-left: 20px;
        padding: 10px;
    }

    ul {
        text-align: center;
    }

    #links {
        text-align: center;
    }

</style>

<h1 class="page-header">DND Characters</h1>
<div>

    @*hyperlinks to campaigns*@

    <div class="row">
        @if(characters == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach(var character in characters)
            {
                <div class="column left">
                    <img src=@character.Image class="d-block img-fluid" alt=@character.Name/>
                </div>
                <div class="column right">
                    <p><b>Character Name: </b>@character.Name</p>
                    <p><b>Player Name: </b>@character.Player</p>
                    <p><b>Character Alt Mode & Color: </b>@character.Alt_Mode</p>
                    <p><b>Character Class: </b> @character.Class</p>
                    <p><b>Character Affiliation: </b>@character.Affiliation</p>
                    <p><b>Character Description: </b>@character.Description</p>
                    <p><b>Featured Campaigns: </b><a href="dndArchive#@character.Campaigns" target="_top">@character.Campaigns</a></p>
                </div>
            }
        }
        
    </div>
</div>

@code {
    private DndCharacterInfo[] characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await Http.GetFromJsonAsync<DndCharacterInfo[]>("/dnd-characters/characters.json");
    }

    public class DndCharacterInfo
    {
        public string Name { get; set; }
        public string Player { get; set; }
        public string Alt_Mode { get; set; }
        public string Class { get; set; }
        public string Affiliation { get; set; }
        public string Description { get; set; }
        public string Campaigns { get; set; }
        public string Image { get; set; }
    }
}