@page "/dndPlayers/{playerName}"
@inject HttpClient Http

<style>
    h1.page-header {
        font-size: 300%;
        text-align: center;
    }

    .phase {
        margin-top: 20px;
        text-align: center;
    }

    .row {
        margin-right: auto;
        margin-left: auto;
        margin-top: 2%;
        max-width: 90%;
        font-size: large;
    }

    img {
        width: 500px;
        height: 500px;
        max-width: 90%;
        max-height: 90%;
        min-width: 70%;
        min-height: 70%;
        object-fit: contain;
        margin-left: auto;
    }

</style>


@*hyperlinks to campaigns*@

<div>
    @if (players == null)
    {
        <p>Loading...</p>
    }
    else
    {

        @foreach (var player in players)
        {
            if (player.Player_Name == playerName)
            {
                <div class="row"><h1 class="page-header">@player.Player_Name</h1></div>
                <div class="row">
                    <div class="col-lg col-md col-sm left">
                        <img src=@player.Image alt=@player.Player_Name />
                    </div>
                    <div class="col-lg col-md col-sm right">
                        <p><b>Favorite Show: </b>@player.Show</p>
                        @if (player.Book_Comic != "")
                        {
                            <p><b>Favorite Comic or Book: </b>@player.Book_Comic</p>
                        }
                        else
                        {
                            <p><b>Favorite Comic or Book: </b>Information coming soon...</p>
                        }
                        @if (player.Favorite_Character != "")
                        {
                            <p><b>Favorite Characters: </b>@player.Favorite_Character</p>

                        }
                        else
                        {
                            <p><b>Favorite Characters: </b>Information coming soon...</p>
                        }
                        @if (player.Descriptions != "")
                        {
                            <p><b>Description: </b> @player.Descriptions</p>

                        }
                        else
                        {
                            <p><b>Description: </b>Information coming soon...</p>
                        }
                        <p><b>Characters: </b></p>
                        @foreach (var character in player.Characters)
                        {
                            Console.WriteLine(character.Name);
                            <p>&emsp; &emsp;<a href="/dndCharacters/@character.Name" target="_top">@character.Name</a></p>
                        }
                        @if (player.Social == "TBD")
                        {
                            <p><b>Players Social Media Links: </b>@player.Social</p>
                        }else if (player.Social != "")
                        {
                            <p><b>Players Social Media Links: </b><a href="@player.Social">@player.Social</a></p>
                        }
                        else
                        {
                            <p><b>Players Social Media Links: </b>Information coming soon...</p>
                        }
                        <p><b>Art By: </b> @player.Art_By</p>
                    </div>
                </div>
            }
        }
    }
</div>

@code {
    private DndPlayerInfo[] players;
    [Parameter]
    public string playerName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            players = await Http.GetFromJsonAsync<DndPlayerInfo[]>("/dnd-players/players.json");
        }
        catch (Exception e)
        {
            Console.WriteLine("Json file not found", e);
        }

    }

    public class CharacterNames
    {
        public string Name { get; set; }
    }

    public class DndPlayerInfo
    {
        public string Player_Name { get; set; }
        public string Descriptions { get; set; }
        public string Show { get; set; }
        public string Book_Comic { get; set; }
        public string Favorite_Character { get; set; }
        public List<CharacterNames> Characters { get; set; }
        public string Social { get; set; }
        public string Image { get; set; }
        public string Art_By { get; set; }
    }
}
