@page "/guests"
@inject HttpClient Http
<h1 class="text-center">Guests</h1>
@if (guests == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container">
    @foreach (var guest in guests)
    {

        <div class="row">
    <div class="col-md-4">
        <h3>@guest.name
                @if (!string.IsNullOrEmpty(guest.twitter))
                {
                    <a href=@guest.twitter  target="_blank" rel="noopener noreferrer"><em class="fab fa-twitter" data-toggle="tooltip"
                title="twitter"></em></a>
                }
        </h3>
        

    </div>

    

            <div class="col-md-12">
                @if (guest.dndIds.Any())
                {

                    <h5>Dnd Episodes</h5>
                    <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-md-2">Episode</th>
                    <th scope="col-md-2">Episode Title</th>
                    <th scope="col-md-2">Podcast</th>
                    <th scope="col-md-2">Release Date</th>
                    <th scope="col-md-2">Youtube</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var id in guest.dndIds)
                            {
                                <tr>
                                <td>@dndEpisodes.First(d => d.episode == id).episode</td>
                                <td>@dndEpisodes.First(d => d.episode == id).title</td>
                                <td>TF: Rise Of The World Killers</td>
                                <td>@dndEpisodes.First(d => d.episode == id).releasedate</td>
                                <td><a href="@dndEpisodes.First(d => d.episode == id).youtubelink" class="btn btn-outline-danger" target="_blank" rel="noopener noreferrer"><em class="fab fa-youtube" data-toggle="tooltip" title="YouTube"></em></a></td>
                                </tr>
                            }


                        </tbody>

                    </table>
                }

            </div>
            <div class="col-md-12">
                @if (guest.comicIds.Any())
                {
                    <h5>Comic Episodes</h5>
                    <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-md-2">Episode</th>
                    <th scope="col-md-2">Podcast</th>
                    <th scope="col-md-2">Release Date</th>
                    <th scope="col-md-2">Youtube</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var id in guest.comicIds)
                            {
                             <tr>   <td>@comics.First(c => c.episode == id).title</td>
                                <td>IDW 2005 Comics</td>
                                <td>@comics.First(c => c.episode == id).releasedate</td>
                                <td>@comics.First(c => c.episode == id).youtubelink</td>
                                </tr>

                            }

                        </tbody>
                    </table>

                }
            </div>

            <div class="col-md-12">
                @if (guest.crossoverIds.Any())
                {
                    <h5>Crossover Episodes</h5>
                    <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-md-2">Episode</th>
                    <th scope="col-md-2">Podcast</th>
                    <th scope="col-md-2">Release Date</th>
                    <th scope="col-md-2">Youtube</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var id in guest.crossoverIds)
                            {
                             <tr>   <td>@crossOvers.First(c => c.episode == id).title</td>
                                <td>Transformer Crossovers</td>
                                <td>@crossOvers.First(c => c.episode == id).releasedate</td>
                                <td><a href="@crossOvers.First(d => d.episode == id).youtubelink" class="btn btn-outline-danger" target="_blank" rel="noopener noreferrer"><em class="fab fa-youtube" data-toggle="tooltip" title="YouTube"></em></a></td>
                                </tr>

                            }

                        </tbody>
                    </table>

                }
            </div>

        </div>

    }
    </div>
}







@code {
    private Guest[] guests;
    private Comic[] comics;
    private DndEpisode[] dndEpisodes;

    private CrossOver[] crossOvers;
    protected override async Task OnInitializedAsync()
    {
        guests = await Http.GetFromJsonAsync<Guest[]>("guests/guests.json");
        //comics = await Http.GetFromJsonAsync<Comic[]>("comic-episodes/comics.json");
        //dndEpisodes = await Http.GetFromJsonAsync<DndEpisode[]>("dnd-episodes/dnd.json");
        //crossOvers = await Http.GetFromJsonAsync<CrossOver[]>("cross-overs/crossovers.json");
    }

    public class EpisodeBase{
        public int episode { get; set; }
        public string title { get; set; }
        public string releasedate { get; set; }
        public string youtubelink { get; set; }
    }
    public class DndEpisode : EpisodeBase
    {
    }
    public class Comic : EpisodeBase
    {
    }
    public class CrossOver : EpisodeBase
    {
    }
    public class Guest
    {
        public int guestId { get; set; }
        public string name { get; set; }
        public List<int> dndIds { get; set; }
        public List<int> comicIds { get; set; }
        public List<int> crossoverIds { get; set; }
        public string twitter { get; set; }
        public string fb { get; set; }
        public string twitch { get; set; }


    }
}